<<<<<<< HEAD
main{
    background-color: red;
    width: 100px;
    height: 500px;
}
p{
    font-size: 16px;
=======
main{
    background-color: red;
    width: 100px;
    height: 500px;
}
p{
    font-size: 16px;
>>>>>>> d1bff8aa9e084cc099db80a3377014aa5d90fe12
}