<<<<<<< HEAD
$color-white: #fff;
$color-black: #000;
$color-primary: #4C736B;
$color-secondary: #A89862;
=======
$color-white: #fff;
$color-black: #000;
$color-primary: #4C736B;
$color-secondary: #A89862;
>>>>>>> d1bff8aa9e084cc099db80a3377014aa5d90fe12
$color-terciary: #513C52;