<<<<<<< HEAD
#catg{
    color: rgb(43, 8, 44);
    font-size: 200%;

    font-family: Courier New, 'Courier', monospace;
}
img{
    width: 10%;
}
a{
    font-size: 135%;
    font-family: Courier New, 'Courier', monospace;
}
body{
    background-color: blanchedalmond;
}
h1{
    font-family: Courier New, 'Courier', monospace;
=======
#catg{
    color: rgb(43, 8, 44);
    font-size: 200%;

    font-family: Courier New, 'Courier', monospace;
}
img{
    width: 10%;
}
a{
    font-size: 135%;
    font-family: Courier New, 'Courier', monospace;
}
body{
    background-color: blanchedalmond;
}
h1{
    font-family: Courier New, 'Courier', monospace;
>>>>>>> d1bff8aa9e084cc099db80a3377014aa5d90fe12
}