<<<<<<< HEAD
p {
    color: blueviolet;
}
/* class */
.parrafo{
    color: chartreuse;
}
/* ID */
#texto{
    color: deepskyblue;
=======
p {
    color: blueviolet;
}
/* class */
.parrafo{
    color: chartreuse;
}
/* ID */
#texto{
    color: deepskyblue;
>>>>>>> d1bff8aa9e084cc099db80a3377014aa5d90fe12
}