<<<<<<< HEAD
.block-element{
    background-color: blueviolet;
    margin: 10px;
    padding: 20px;
}
.nav{
    background-color: peachpuff;
    padding: 20px;
    list-style: none;
    text-align: center;
}
.nav li{
    display: inline-block;
    font-size: 20px;
    margin: 10px 0;
    padding-left: 20px;
    padding-right: 20px;

=======
.block-element{
    background-color: blueviolet;
    margin: 10px;
    padding: 20px;
}
.nav{
    background-color: peachpuff;
    padding: 20px;
    list-style: none;
    text-align: center;
}
.nav li{
    display: inline-block;
    font-size: 20px;
    margin: 10px 0;
    padding-left: 20px;
    padding-right: 20px;

>>>>>>> d1bff8aa9e084cc099db80a3377014aa5d90fe12
}