*{
box-sizing: border-box;
padding: 0;
margin: 0;

}
html{
    font-size: 62.5%;
}

body h1{
    font-family: Cambria, Cochin, 'Georgia', Times, Times New Roman, serif;
    background-color: crimson;
    width: 20rem;
    height: 4rem;
    text-align: center;
    position: relative;
    padding-top: 0.45rem ;
    top: 4rem;
    left: 32rem;
    border-radius: 1.5rem;
    border: 3px black solid;
}
body p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align-last: left;
    margin: 1.5rem;
    width:  55rem;
    height: auto;
    padding: 2rem;
    padding-top: 3.5rem;
    background-color:#6c6a80 ;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    border: 3px black solid;
    
}
body img{
    position: relative;
    bottom: 41rem;
    left: 35rem;
    border-radius: 25px;
}
